<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aula de python - 15 de Maio - Ocean</title>
</head>
<body>
    <h1>
        site do gato no espaço
    </h1>
    <a href="https://oceanbrasil.com/"> Samsung Ocean</a>
    <img src="/static/gatodoespaço.jpeg" height="400" alt=" Gatinho no Espaço">
    <h1> Lista de Times</h1>
    <ul>
        <li> São Paulo</li>
        <li> Flamengo</li>
        <li> Vasco</li>
        <li> Amazonas</li>
        <li> Fluminense</li>
    </ul>

    <h1> Lista de Frutas</h1>
    <ol>
        <li> Laranja</li>
        <p> uma fruta com concentração de vitamina c</p>
        <li> Manga</li>
        <li> Cupuaçu</li>
        <li> Inga</li>
        <li> Biribá</li>
    </ol>
    
    <dl>
        <dt>
            HTML
        </dt>
        <dd>
            Linguagem de marcação de hipertexto
        </dd>
        <dt>
            Java
        </dt>
        <dd> Melhor linguagem do Mundo</dd>
    </dl>
</body>
</html>